.landing_header {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
}

.snapchat {
    background: linear-gradient(90deg, #8456EC 0%, #E87BF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landing_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 18.4px;
    text-align: center;
    height: 36px;
    max-width: 321px;
    left: 0px;
    top: 124px;
    border-radius: nullpx;
    margin: 0 auto;
    margin-top: 16px;
}

.landing_event_image {
    width: 165.63px;
    height: 292px;
    margin: 0 auto;
    margin-top: 36px;
    background: url(../../Assets/images/popcorn.png);
    filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
    border-radius: 13.2326px;
}

.create_event {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 187px;
    height: 50px;
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 36px;
}

.create_event_button {
    /* width: 145px; */
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    /* text-align: right; */
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
}

/* Media query */